extends ./layout/_layout-customer.pug

block content
  
  section.admin
    .container
      h3 Your Account
      .card
        .card-body
          .row
            .col-md-3
              .admin-page-nav
                ul
                  li
                    a(href="customer-account.html") Account Details
                  //- li
                  li
                    a(href="customer-password-update.html") Update Password
                  //- li
                //- ul
              //- admin-page-nav
            //- col
            .col-md-9
              .row
                .col-md-5
                  .form-group
                    label Current Password
                    input.form-control(type="password")
                  //- form-group
                  .form-group
                    label New Password
                    input.form-control(type="password")
                  //- form-group
                  .form-group
                    label Confirm New Password
                    input.form-control(type="password")
                  //- form-group
                  a.btn.btn-danger.btn-sm(href="") Update
                //- col
              //- row
            //- col
          //- row
        //- card-body
      //- card
    //- .container
  //- section

//- block content
