extends ./layout/_layout-customer.pug

block content
  
  section.admin
    .container
      h3 Your Notifications
      .card
        .card-body
          .table-responsive
            table.table.table-sm
              tbody
                tr
                  td.border-top-0
                    p 
                      | Aravind Naidu has Approved Aura 24 on Preliminary stage
                      br
                      small Feb 4, 2018 - 8:00:66 AM
                    //- p
                  td.text-right.border-top-0
                    a(href="") View Details
                  //- td
                //- tr
                tr
                  td
                    p
                      | Nick  Stanley has Opened 47 Ashburn on Contract stage
                      br
                      small Feb 4, 2018 - 8:00:67 AM
                    //- p
                  //- td
                  td.text-right
                    a(href="") View Details
                  //- td
                //- tr
                tr
                  td
                    p
                      | Contract stage is Past Due
                      br
                      small Feb 7, 2018 - 9:15:67 AM
                    //- p
                  //- td
                  td.text-right
                    a(href="") View Details
                  //- td
                //- tr
              //- tbody
            //- table
          //- table-responsive
        //- card-body
      //- card
    //- .container
  //- section

//- block content
