extends ./layout/_layout-customer.pug

block content
  
  section.admin
    .container
      h3 New Transaction
      .card
        .card-body
          br
          .text-center
            i.fas.fa-spinner.fa-spin.fa-5x
            br
            br
            p Your transaction is being processed
            a.btn.btn-danger(href="customer-properties.html") Go to Property List
          //- text-center
          br
        //- card-body
      //- card
    //- .container
  //- section

//- block content
