extends ./layout/_layout.pug

block content
  
  section.body
    
    article.container
      h5.page-title Property Summary
      .card
        .card-body
          .row
            .col-md-4.text-center
              img.property-d-img(src='assets/images/img-map.png', alt='', width="350")
              .clearfix.d-xs-block.d-sm-block.d-md-none
                br
              //- clearfix
            //- col
            .col-md-8
              a(href="")
                h5.mt-0 47 Ashburnton Avenue South Turramurra, NSW 2074
              //- a
              | 4 bed / 2 Bath / 2 Car Space / 1366 m2 / HOUSE
              .clearfix
                br
              //- clearfix
              .row
                .col-4
                  img.img-fluid(src='//via.placeholder.com/150x100', alt='', width="350")
                //- col
                .col-4
                  img.img-fluid(src='//via.placeholder.com/150x100', alt='', width="350")
                //- col
                .col-4
                  img.img-fluid(src='//via.placeholder.com/150x100', alt='', width="350")
                //- col
              //- row
            //- col
          //- row
        //- card-body
      //- card
    //- article
    br
    br
    article.container.signup-user-role
      h5.page-title I am a
      .custom-control.custom-radio.custom-control-inline
        input#customRadioInline1.custom-control-input(type='radio', name='customRadioInline1', checked)
        label.custom-control-label(for='customRadioInline1') Buyer
      //- custom-control
      .custom-control.custom-radio.custom-control-inline
        input#customRadioInline2.custom-control-input(type='radio', name='customRadioInline1')
        label.custom-control-label(for='customRadioInline2') Seller
      //- custom-control
    //- article
    br
    br
    article.container.signup-social
      h5.page-title Sign up
      .card
        .card-body
          .row
            .col-md-7.or-separator
              p.lead Basic Account Information
              .row
                .col-md-6
                  .form-group
                    input.form-control(type="text", placeholder="First Name")
                  //- form-group
                //- col
                .col-md-6
                  .form-group
                    input.form-control(type="text", placeholder="Last Name")
                  //- form-group
                //- col
                .col-md-6
                  .form-group
                    input.form-control(type="email", placeholder="Email Address")
                  //- form-group
                //- col
                .col-md-6
                  .form-group
                    input.form-control(type="email", placeholder="Confirm Email Address")
                  //- form-group
                //- col
                .col-md-6
                  .form-group
                    input.form-control(type="password", placeholder="Password")
                  //- form-group
                //- col
                .col-md-6
                  .form-group
                    input.form-control(type="password", placeholder="Confirm Password")
                  //- form-group
                //- col
              //- row
              .clearfix.d-xs-block.d-sm-block.d-md-none
                hr
              //- clearfix
            //- col
            .col-md-5.box-social
              p.lead Social Media Account
              .fb-login-button(data-max-rows='1', data-size='large', data-button-type='continue_with', data-show-faces='false', data-auto-logout-link='false', data-use-continue-as='false')
              br
              br
              img.resource-paragraph-image.lazy-load.lazy-load-src(alt='Sign in with LinkedIn', src='https://content.linkedin.com/content/dam/developer/global/en_US/site/img/signin-button.png', pagespeed_url_hash='1811720327', onload='pagespeed.CriticalImages.checkImageForCriticality(this);')
              br
              br
              .g-signin2(data-onsuccess='onSignIn')
            //- col
          //- row
        //- card-body
      //- card
      br
      .custom-control.custom-checkbox.float-right
        input#customCheck1.custom-control-input(type='checkbox')
        label.custom-control-label(for='customCheck1') I have read and accept Terms and Conditions
      //- custom-control
      .clearfix
        br
        br
      //- clearfix
      .text-right
        a.btn.btn-default(href="") Cancel
        a.btn.btn-danger(href="") Register
      //- text-right
    //- article
    
  //- section

block scripts
  script(src="//platform.linkedin.com/in.js").
    api_key: "7762qdzr8qe7db"
    authorize: true
    onLoad: onLinkedInLoad
  //- script
  script.
    // Setup an event listener to make an API call once auth is complete
    function onLinkedInLoad() {
        IN.Event.on(IN, "auth", getProfileData);
    }

    // Handle the successful return from the API call
    function onSuccess(data) {
        console.log(data);
    }

    // Handle an error response from the API call
    function onError(error) {
        console.log(error);
    }

    // Use the API call wrapper to request the member's basic profile data
    function getProfileData() {
        IN.API.Raw("/people/~").result(onSuccess).error(onError);
    }
