aside.admin
  a.aside-logo(href='index.html')
    img(src="assets/images/logo-white.png")
  //- a
  .user-menu
    span.hi
      img(src="//via.placeholder.com/40")
      span Hi&nbsp;
      span Mimi!
    //- span
  //- user-menu
  nav
    ul
      li
        a.notification(href="customer-notifications.html", data-counter="1") Notifications
      //- li
      li
        a(href="customer-account.html") My Account
      //- li
      li
        a(href="customer-properties.html") My Properties
      //- li
    //- ul
  //- nav
  br
  .input-group
    input.form-control(placeholder='Search...')
    span.input-group-btn
      button.btn.btn-default(type='button')
        i.fa.fa-search
      //- button
    //- span
  //- input-group
//- aside
